<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Add Band</title>
</head>

<body>
     <nav class="navbar  navbar-dark bg-dark">
        <a href="/" style="text-decoration: none;"><h3 class="" style="color: #fff">Artist List</h3></a>
        
        <div class="dropdown" style="width: 90px">
            <img src="https://www.w3schools.com/howto/img_avatar.png" style="width: 55%; height: 10%; border-radius: 50%; cursor: pointer;" alt="" class="ropdown-toggle" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/profile">Profile</a>
                <a class="dropdown-item" href="/logout">Logout</a>
                </div>
        </div>
    </nav>
    <br/>
    <div class="container">
        {{!-- <a href="/logout"><button class="btn btn-danger mt-4 mb-4" style="float: right"><b>LOGOUT</b></button></a> --}}
        <h2>ADD BAND</h2>
        <form action="/add" method="post">
            <div class="form-group">
                <label for="bandname">Band Name:</label>
                <input type="text" class="form-control" id="bandname" placeholder="Enter bandname..." name="bandname" required>
            </div>
           
            <button type="submit" class="btn btn-success">ADD</button>
        </form>
    </div>
</body>

</html>